@model IEnumerable<FileViewModel>
@{
    ViewData["Title"] = "Role Container";
}

<partial name="RoleFileForm" model="new ContainerSelectionViewModel()" />

    <section>
        <section class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                @foreach (var image in Model)
                {
                    <div class="col mb-5">
                        <div class="card h-100">
                            <img class="card-img-top img-thumbnail" src="@image.FullyQualifiedUri" alt="..." />
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent text-center">
                                <div>
                                    <a 
                                        asp-action="Delete"
                                        asp-controller="Home"
                                        asp-route-containerName="@image.ContainerName" 
                                        asp-route-imageName="@image.Name" 
                                        class="text-center btn btn-outline-danger mt-auto">Delete
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </section>