@{
    ViewData["Title"] = "Access Denied";
}

<section>
    <h1 class="text-danger"><code>Access Denied</code></h1><hr />
    <h3>You dont have permission to view this site.</h3>
    <h3 class="mt-4">
        <a asp-action="Logout" asp-controller="Account" class="form-control btn btn-outline-dark rounded submit px-3">Logout</a>
    </h3>
</section>