@{
    ViewData["Title"] = "Account Created Successfully";
}

<section>
    <h1 class="text-danger"><code>Account Created Successfully</code></h1><hr />
    <h3>
        <a asp-action="Login" asp-controller="Account" class="form-control btn btn-outline-dark rounded submit px-3">Go to Login</a>
    </h3>
</section>