@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<section class="container d-flex min-vh-100 justify-content-center align-items-center bg-light">
    <div class="border border-5 border-dark rounded p-2">
        <div class="login-wrap p-md-5">
            <h3 class="text-center mb-4">LOGIN</h3>
            <form class="login-form" asp-controller="Account" asp-action="Login" asp-antiforgery="true" method="post">
                <input type="hidden" asp-for="ReturnUrl" />
                <div class="form-group">
                    <div id="@nameof(Model.UserName)-validation" class="text-center text-danger mb-1"><span asp-validation-for="UserName"></span></div>
                    <input onchange="handleOnChange(event)" asp-for="UserName" type="text" class="form-control rounded-left mb-3" placeholder="Username" />
                </div>
                <div class="form-group">
                    <div id="@nameof(Model.Password)-validation" class="text-center text-danger mb-1"><span asp-validation-for="Password"></span></div>
                    <input onchange="handleOnChange(event)" asp-for="Password" type="password" class="input form-control rounded-left mb-3" placeholder="Password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="form-control btn btn-outline-dark rounded submit px-3">Login</button>
                </div>
            </form>
            <div class="form-group">
                <a asp-action="Register" asp-controller="Account" class="form-control btn btn-outline-dark rounded submit px-3">Register an Account</a>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script type="text/javascript" language="javascript">

        function handleOnChange(event) {
            console.log(event);
            event.target.classList.remove("input-validation-error");
            const element = document.getElementById(event.target.id + "-validation");
            element.remove();
        }
    </script>
}
